@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.Sum{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 1200px;
    font-family: 'Mochiy Pop One', sans-serif;
    justify-content: space-between;
}
.main{
    width: 20%;
    height: 100%;
    background: rgb(56, 56, 56);
    color: white;
    font-size: 30px;
    font-weight: 700;
}
.image{
    position: relative;
    top: 30px;
    left: 60px;
}
.image img{
    width: 300px;
    height: 300px;
    object-fit: cover;
}
.box_name{
    width: 110%;
    text-align: end;
}
.box{
    width: 100%;
    background: rgb(223, 27, 27);
    padding: 5px;
    color: white;
}
.box.obra{
    margin-bottom: 160px;
    margin-top: 105px;
}
.box.cont{
    margin-top: 35px;
}
.box.pro{
    margin-top: 135px;
}
.box1{
    display: none;
}
.stats{
    width: 70%;
    margin-top: 30px;
    padding-right: 40px;
}
.nameprof{
    width: 50%;
}
.nameprof h1{
    color: rgb(223, 27, 27);
    font-size: 80px;
    line-height: 1;
    font-weight: 100;
}
.nameprof h3{
    font-size: 20px;
    font-weight: 500;
    padding-top: 10px;
    letter-spacing: 8px;
    color: rgb(100, 100, 100);
}


.contacts{
    margin-top: 105px;
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.contacts h1{
    color: rgb(223, 27, 27);
}
.contacts div h2{
    font-size: 20px;
    color: rgb(100, 100, 100);
}
.obr{
    width: 100%;
    margin-top: 20px;
    line-height: 2;
}
.obr h1{
    color: rgb(223, 27, 27);
}
.obr h2{
    color: rgb(100, 100, 100);
    font-size: 15px;
} 
.skills{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: rgb(223, 27, 27);
    font-size: 20px;
    font-weight: 800;
    width: 100%;
    height: 150px;
    margin-top: 30px;
}
.skill{
    width: 45%;
}
.prog{
    width: 100%;
    height: 13px;
    border-radius: 20px;
    background: rgb(196, 196, 196);
}
.red{
    height: 100%;
    background: rgb(223, 27, 27);
    border-radius: 10px;
}
.red.phot{
    width: 40%;
}
.red.lang{
    width: 80%;
}
.red.pro{
    width: 90%;
}
.red.des{
    width: 70%;
}
.name{
    margin-bottom: 10px;
}
.proj{
    margin-top: 40px;
}
.proj li a{
    text-decoration: none;
    color: rgb(223, 27, 27);
    font-size: 25px;
    line-height: 1.7;
    transition: all .5s;
}
.proj li a:hover{
    color: rgb(128, 0, 0);
}










@media (max-width:1300px){
    .main{
        width: 100%;
        height: 25%;
        padding: 20px;
    }
    .image{
        position: static;
        display: flex;
        justify-content: center;
    }
    .image img{
        
    }
    .stats{     
        padding: 0;
        margin: 70px auto;
        text-align: center;
        width: 90%;
    }
    .nameprof{
        margin: 0 auto;
        width: 100%;
    }
    .Sum{
        flex-wrap: wrap;
    }
    .box_name{
        display: none;
    }
    .stats.box{
        display: block;
        width: 150%;
    }
    .stats .box1{
        display: block;
        background: rgb(223, 27, 27);
        padding: 5px;
        color: white;
    }
    .stats .cont{
        margin: 50px 0;
    }
    .contacts{
        margin-top: 60px;
    }
    .stats .obra{
        margin: 60px 0;
    }
    .stats .skil{
        margin: 60px 0;
    }
    .stats .proj1{
        margin: 60px 0;
    }
    .proj{
        height: 400px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}
@media (max-width:900px){
    .contacts{
        flex-direction: column;
    }
    .contacts{
        height: 400px;
    }
}
@media (max-width:700px){
    .skills{
        flex-wrap: inherit;
        flex-direction: column;
        align-items: center;
        height: 350px;
    }
    .skill{
        width: 90%;
    }
    .proj li a{
        font-size: 17px;
    }
    .proj li{
        font-size: 14px;
    }
}
@media (max-width:500px){
    .nameprof h1{
        font-size: 50px;
    }
    .nameprof h3{
        font-size: 12px;
    }
    .proj li a{
        font-size: 14px;
    }
    .proj li{
        font-size: 10px;
    }
}